# Gradle
.gradle/
build/
*.gradle.kts.bak

# IDE
.idea/
*.iml

# Xcode
iosApp/build/
iosApp/*.xcworkspace/xcuserdata/
iosApp/*.xcodeproj/xcuserdata/
DerivedData/

# Kotlin/Native
*.framework
*.klib

# macOS
.DS_Store

# Local properties
local.properties
